@tailwind base;
@tailwind components;
@tailwind utilities;

// buttons
.btn-primary {
  @apply bg-indigo-500 hover:bg-indigo-700;
}
.btn-light {
  @apply text-gray-800 bg-amber-50 hover:bg-gray-400;
}

.btn-success {
  @apply bg-green-500 hover:bg-green-700;
}

.btn-error {
  @apply bg-red-500 hover:bg-red-700;
}

.btn-warning {
  @apply bg-yellow-500 hover:bg-yellow-700;
}

.btn-login-google {
  @apply bg-indigo-500 hover:bg-indigo-700;
}

.btn-login-github {
  @apply bg-black hover:bg-gray-700 text-white;
}

.card {
  @apply w-full px-4 py-4 rounded;
}

.dark .text_card {
  background: linear-gradient(#fff,#fff,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_card {
  background: linear-gradient(#000,#ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// card

.none-card {
  @apply text-center;
}

p, label {
  @apply text-black dark:text-[#6d6d71] transition-colors;
}

h3 {
  @apply text-black dark:text-white transition-colors;
}

span.emphasis {
  @apply font-bold text-indigo-500 dark:text-indigo-300 transition-colors;
}

.bg-container {
  @apply dark:bg-[#1a1a1a] bg-white;
}

  * {
    &::-webkit-scrollbar{
      @apply w-1.5 h-1.5
    }
    &::-webkit-scrollbar-thumb{
      @apply rounded-2xl  bg-amber-100 dark:bg-gray-700
    }
    &::-webkit-scrollbar-track{
      @apply rounded-2xl  bg-amber-50 dark:bg-gray-600
    }
  }